*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
    position: sticky;
    top: 0;
    z-index: 999;
}
nav a{
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
}
nav a:hover{
    color: #f1356d;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}
.content h1{
    font-size: 3rem;
    text-align: center;
    margin: 50px 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
}
.content h2{
    font-size: 2.3rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.content button{
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: 2px solid #f1356d;
    background-color: #f1356d;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.content button:hover{
    background-color: white;
    color: #f1356d;
}